# requirements.txt
# Framework web principal
Flask==3.0.2

# Bibliotecas auxiliar para gerenciar uploads seguros (vem com o Flask)
Werkzeug==3.0.1

# Força a versão nova que já vem pronta para Windows e Python 3.12
reportlab>=4.1.0

# Biblioteca para geração de PDF
xhtml2pdf>=0.2.15

# Extensão para o envio de relatórios via e-mail
Flask-Mail==0.9.1

# Gerenciador de variáveis de ambiente (.env) para credenciais de email
python-dotenv==1.0.1