# requirements.txt
# Framework web principal
Flask==3.0.2

# Biblioteca auxiliar para gerenciar uploads seguros (vem com o Flask)
Werkzeug==3.0.1

# Força a versão nova que já vem pronta para Windows e Python 3.12
reportlab>=4.1.0

# Biblioteca para geração de PDF
xhtml2pdf>=0.2.15